<h4>Login</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
        <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" required="true">
        <label for="senha">Senha: </label>
            <input type="password" class="form-control" name="senha" required="true">
        <button class="btn btn-success mt-3" type="submit">Entrar</button>
        </form>
        <a href="/usuarios/registro"><button class="btn btn-secondary mt-3">Não possui conta?</button></a>
    </div>
</div>